/* Font importer */
@font-face {
  font-family: "Press Start 2P";
  src: url(./fonts/PressStart2P-Regular.ttf);
}

body {
  text-align: center;
  background-color: #01585c;
  user-select: none;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
}

h1 {
  margin: 0;
}

.unclickable {
  pointer-events: none;
  background-color: #5c5617;
}

.text {
  font-size: 3rem;
  text-shadow: 4px 4px 0 #000, -4px 4px 0 #000, -4px -4px 0 #000,
    4px -4px 0 #000;
  line-height: 70px;
}

#level-title {
  margin: 3vh 0 3vh 0;
}

#bottom-text {
  margin: 4vh 0 3vh 0;
  display: none;
}

.container {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 40px;
  column-gap: 40px;
  width: 400px;
  height: 400px;
}

.btn {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 6px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start-btn {
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30pt;
  font-family: 'Press Start 2p';
  border: none;
  padding: 10px 3px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

footer {
  position: fixed;
  font-size: 0.7em;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px){
  .text {
    font-size: calc(1.0rem + 3.3vw);
    text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000;
    line-height: 40px;
  }

  .container {
    width: 300px;
    height: 300px;
  }

  #start-btn {
    font-size: calc(1.0rem + 3.3vw);
  }
}
